<app-left-menu></app-left-menu>
<br>
<p-table [value]="imoveis">
  <ng-template pTemplate="header">
    <tr>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Valor</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-imovel>
    <tr>
      <td>{{ imovel.endereco }}</td>
      <td>{{ imovel.cidade }}</td>
      <td>{{ imovel.valor }}</td>
    </tr>
  </ng-template>
</p-table>

<br>

<p-carousel headerText="Imoveis" [value]="imoveis">
  <ng-template let-imovel pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Tipo Imóvel</div>
        <div class="ui-grid-col-6">{{imovel.tipoImovel}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Endereço</div>
        <div class="ui-grid-col-6">{{imovel.endereco}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Cidade</div>
        <div class="ui-grid-col-6">{{imovel.cidade}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Status</div>
        <div class="ui-grid-col-6">{{imovel.status}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">Valor</div>
        <div class="ui-grid-col-6">{{imovel.valor}}</div>
      </div>
    </div>
  </ng-template>
</p-carousel>