<nav class="navbar">
    <div class="container">
        <div class="ui-g">
            <div class="ui-g-10">
                <a routerLink="/home" class="localize-text">Localize</a>
            </div>
            <div class="ui-g-2">
                <a href="javascript:;" id="navbar-icon" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
            </div>        
        </div>
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-user">Henrique Lemos</li>
        <li class="navbar-menu-item"><a routerLink="/cadastro-imovel">Cadastrar Item</a></li>
        <li class="navbar-menu-item"><a routerLink="/buscar">Buscar Item</a></li>
        <li class="navbar-menu-item"><a routerLink="/login">Logout</a></li>
    </ul>
</nav>
