<button pButton type="button" label="Menu" class="ui-button-secondary" icon="pi pi-bars"
        (click)="visibleSidebar = true"></button>

<p-sidebar [(visible)]="visibleSidebar" [fullScreen]="false" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Menu</h1><br>
    <button pButton type="button" routerLink="/buscar-item" routerLinkActive="active" label="Procurar item" class="ui-button-secondary"></button>
    <br>
    <br>
    <button pButton type="button" routerLink="/cadastro-imovel" routerLinkActive="active" label="Cadastrar novo item" class="ui-button-secondary"></button>
</p-sidebar>